<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <title>{{title}}</title>
        
		<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/styles/custom.css" rel="stylesheet">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        
        <!-- SailsJS stuff -->
        <script type="text/javascript" src="/js/socket.io.js"></script>
        <script type="text/javascript" src="/js/sails.io.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        
        
        
	</head>
	<body>
        
<div class="wrapper">
    <div class="box">
        <div class="row">
          
            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
                
                <a class="logo" href="#">Order System Menu</a>
                
                <ul class="nav">
                    <li class="active"><a href="/">Home</a> </li>
                    <li><a href="/orderstart">New Order</a> </li>
                    <li><a href="/customer/register">Register Customer</a> </li>
                    <li><a href="/menuitem">Menu Items</a> </li>
                    
                    <li><a href="#">Employee Logout zxz</a> </li>
                </ul>
                
                <ul class="nav hidden-xs" id="sidebar-footer"> <!-- yolo -->
                    <li>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Griffdream Team </li>
                </ul>
                
            </div>
            <!-- /sidebar -->
          
            <!-- main -->
            <div class="column col-sm-9" id="main">
                <div class="padding">
                    <div class="full col-sm-9">
<!-- /partial;head -->