{{> head}}
    <h1 id="main-title">Login page</h1>
    <h2>Getting started</h2>
    {{#if flash.err}}
    <ul class="alert alert-warning">
        {{#listerr flash.err}}
            {{data}}
        {{/listerr}}
    </ul>
    {{/if}}

<p>Don't worry, we've got your back.</p>

<form action="/login" method="post" accept-charset="utf-8">
    <label>Email:</label>
    <input type="email" name="email" placeholder="">
    <label>Password:</label>
    <input type="password" name="password" placeholder="">
    <input type="submit" value="Log In">
</form>
{{> tail}}