{{> head}}
<!-- Default home page -->
<div class="top-bar">
    <div class="container clearfix">
        <img class="logo" src="http://sailsjs.org/images/sails-logo.jpg" />
    </div>
</div>

<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">Register page</h1>
        <h2>Getting started</h2>
        {{#if flash.err}}
        <ul class="alert alert-success">
            {{#listerr flash.err}}
            {{#if data}}
            {{data}}
            {{else}}
            is {{rule}}
            {{/if}} 
            {{/listerr}}
        </ul>
        {{/if}}
            <p>Don't worry, we've got your back.</p>
            <form action="/register" method="post" accept-charset="utf-8">
                <label>Name :</label>
                <input type="text" name="name" placeholder="">
                <label>Email:</label>
                <input type="email" name="email" placeholder="">
                <br>
                <label>Password:</label>
                <input type="password" name="password" placeholder="">
                <label>Password confirmation:</label>
                <input type="password" name="pasConfirmation" placeholder="">
                <input type="submit" value="Register">
            </form>
        </div>
        <div class="side-bar">
            <h4 id="new">
                New to Sails?
            </h4>
            <ul>
                <li>
                    <a href="http://sailsjs.org">Visit sailsjs.org</a>
                </li>
                <li>
                    <a href="http://sailsjs.org/#!documentation">Documentation</a>
                </li>
            </ul>
            <h4>
                Next Steps
            </h4>
            <ul>
                <li class="sprite single_page">
                    <a target="_blank" href="http://sailsjs.org">Build a single page app</a>
                </li>
                <li class="sprite traditional">
                    <a target="_blank" href="http://sailsjs.org">Build a traditional webapp</a>
                </li>
                <li class="sprite realtime">
                    <a target="_blank" href="http://sailsjs.org">Build a realtime app</a>
                </li>
                <li class="sprite api">
                    <a target="_blank" href="http://sailsjs.org">Build an API</a>
                </li>
            </ul>
        </div>
    </div>
    {{> tail}}