{{> head}}
<div class="main">
<h1>Order History</h1>
    <div class="steps">
    {{#each orders}}
        
    {{/each}}    
        
    </div>
</div> <!-- /.main -->

<script type="text/javascript" src="/js/newOrder.js"></script>
{{> tail}}
