{{> head}}
<!-- Default home page -->
<div class="top-bar">
    <div class="container clearfix">
        <img class="logo" src="http://sailsjs.org/images/sails-logo.jpg" />
    </div>
</div>

<div class="container clearfix">
    <div class="main">
        <h1 id="main-title">
            {{#if username}}
            Welcome employee {{username}}
            {{else}}
            Welcome Guest
            {{/if}}</h1>
            {{#if username}}
            <a href="/logout" title="login">Click to logout</a>
            {{else}}
            <a href="/login" title="login">Click to login</a>
            <br>
            <a href="/register" title="login">Or  Register</a>
            {{/if}}

            <div class="steps">
                <form action="" method="get" accept-charset="utf-8">
                    <label>Phone Number:</label>
                    <input type="text" name="phno" placeholder="eg 21121211212"
                    value="
                    {{#if phno}}
                        {{phno}}
                    {{/if}}
                    ">
                    <input type="submit" name="submit" value="enter">
                </form>
                {{!-- find phone no if not exist change page to register user --}}
                {{!-- window.location.href = "/customer/register"; --}}
                
                {{!-- if exist store cusid  --}}
                <form action="/order/create" method="get" accept-charset="utf-8">
                    {{!-- javascript putt this after getting cusid --}}
                    {{!-- <input type="hidden" name="customerid" value=""> --}}

                    <label>Order Method</label>
                    <select name="method">
                        <option value="take-away">take-away</option>
                        <option value="home-delivery">home-delivery</option>
                    </select>
                    <input type="text" name="deliveryaddr" placeholder="eg 23 road">
                    <input type="submit" name="submit" value="Order Now">
                </form>
                <button>Order History</button>
                {{!-- for order history send a web socket to /order?cusid --}}

            </div>

        </div>
        <div class="side-bar">
            <h4 id="new">
                New to Sails?
            </h4>
            <ul>
                <li>
                    <a href="http://sailsjs.org">Visit sailsjs.org</a>
                </li>
                <li>
                    <a href="http://sailsjs.org/#!documentation">Documentation</a>
                </li>
            </ul>
            <h4>
                Next Steps
            </h4>
            <ul>
                <li class="sprite single_page">
                    <a target="_blank" href="http://sailsjs.org">Build a single page app</a>
                </li>
                <li class="sprite traditional">
                    <a target="_blank" href="http://sailsjs.org">Build a traditional webapp</a>
                </li>
                <li class="sprite realtime">
                    <a target="_blank" href="http://sailsjs.org">Build a realtime app</a>
                </li>
                <li class="sprite api">
                    <a target="_blank" href="http://sailsjs.org">Build an API</a>
                </li>
            </ul>
        </div>
    </div>
    {{> tail}}