{{> head}}
<div class="main">

    <p>Enter the customer's phone number to locate their customer profile.</p>

    {{#if flash.err}}
    <ul class="alert alert-success">
        {{#list flash.err}}
            is {{rule}}
        {{/list}}
    </ul>
    <hr>
    {{/if}}

    <div class="steps">

        <form id="phoneenter" accept-charset="utf-8">
            <div class="input-group">
                <span class="input-group-addon">Phone #</span>
                <input type="text" name="phno" class="form-control" placeholder="eg 5517 9000" value="{{#if phno}}{{phno}}{{/if}}">
            </div>

            <input type="submit" name="submit" value="Search">
        </form>

        {{!-- find phone no if not exist change page to register user --}}
        {{!-- window.location.href = "/customer/register"; --}}

        {{!-- if exist store cusid  --}}
        <form id="formordermeth" action="/order/create" method="post" accept-charset="utf-8">
            {{!-- javascript putt this after getting cusid --}}
            <input type="hidden" name="customerid" value="">

            <label>Order Method</label>
            <select name="method">
                <option value="take-away">take-away</option>
                <option value="home-delivery">home-delivery</option>
            </select>
            <input type="text" name="deliveryaddr" placeholder="eg 23 road">
            <input type="submit" name="submit" value="Order Now">
        </form>
        {{!-- for order history send a web socket to /order?cusid --}}
        <a id="orderHistory" href="">Order History</a>

    </div>
</div> <!-- /.main -->

<script type="text/javascript" src="/js/newOrder.js"></script>
{{> tail}}
