{{> head}}
<h1 id="main-title">Order Finalisation</h1>

<div class="col-sm-6">
    <div class="panel panel-default">
        <table id="orderTable" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>Line Price</th>
                </tr>
            </thead>
            <tbody id="orderList"><!-- Items go here ^_^ -->
                {{#each orderItems}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{quantity}}</td>
                    <td>$ {{price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>


    {{!-- Object: customer --}}
    {{!-- holds json  --}}
    {{!-- {
        nameFirst: 'asdad',
        nameLast: 'asdasd',
        phoneNo: '12345',
        addr: 'asdasd',
        cCardNo: '123213',
        cCardExpMon: '12',
        cCardExpYear: '12',
        cCardName: 'asdadas',
        createdAt: Sun Oct 12 2014 16:57:42 GMT+1000 (EST),
        updatedAt: Sun Oct 12 2014 16:57:42 GMT+1000 (EST),
        id: 1 }
    --}}

    {{!-- Object: order.paid --}}
    {{!-- holds order  --}}
    {{!-- {
        customerId: 1,
        method: 'take-away',
        deliveryAddr: '',
        priceSum: 0,
        paid: false,
        createdAt: Sun Oct 12 2014 16:57:55 GMT+1000 (EST),
        updatedAt: Sun Oct 12 2014 16:57:55 GMT+1000 (EST),
        id: 1 }
    --}}

    </div>
    <h3>Total price: $ {{totalCost}} </h3>
</div>

<div class="col-sm-6">
    <b>Please select a payment method.</b>
    <div class="text-center">
        <button type="button" class="btn btn-default btn-lg btn-info">
            <span class="glyphicon glyphicon-credit-card"></span> Credit Card
        </button>
        <button type="button" class="btn btn-default btn-lg btn-info">
            <span class="glyphicon glyphicon-usd"></span> Cash / Other
        </button>
    </div>
</div>
<script type="text/javascript" src="/js/finaliseOrder.js"></script>
{{> tail}}
