{{> head}}


<h1 id="main-title">L'italia's Order System</h1>
<p>Welcome back, <b>{{user.name}}</b> </p>

<div id="assCredits" class="well well-lg">
    <p>This system was developed for the Software Engineering (2509ICT) assignment of Griffith University, Gold Coast campus.</p>
    
    <ul>
        <li>Brett Penhall</li>
        <li>Adam Miller</li>
        <li>James McCormack</li>
        <li>Jessica Wilds</li>
        <li>Rhys Williams</li>
        <li>Enoch Onamusi</li>
    </ul>
    <h3>Total paid orders for today is : ${{totalPrice}}</h3>
</div>
{{> tail}}